.App {
  text-align: center;
  max-width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 절대 위치 수정할 것 */
#logo {
  width: 855;
  height: 153;
  top: 108px;
  left: 329px;
  position: relative;
}

#character {
  left: 570px;
  top: 60px; 
  position: relative;
}

#buttons {
  width: 250px;
  height: 80px; 
  left: 44px;
  top: 170px;
  border-radius: 50px;
  position: relative;
}